:root {
  --branco-forte: #FFFFFF;
  --preto: #000000;
  --cor-bg-card: #161D26;
  --cor-bg-pagina: #243650;
  --amarelo-pd: #F4BC1D;
  --font-vollkorn: 'Vollkorn', serif;
  --font-raleway: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-bg-pagina);
  width: 100%;
}

/* cabeçalho */
header {
  background-color: var(--cor-bg-card);
  border-bottom: 3px solid var(--amarelo-pd);
  width: 100%;
  min-width: 85.33dvw;
  height: 3.75rem;
  padding: 0 1.25em;
}

/* logo */
#logo-desktop,
.btn__sistema-desktop {
  display: none;
}

#logo-mobile {
  display: block;
  width: 2.5em;
  height: 2em;
}

.btn__sistema-mobile {
  display: block;
}

/* barra de pesquisar / modal filtragem */
#modal__filtragem {
  width: 2.18em;
  height: 2.18em;
  border-radius: 0.625em;
  background-color: var(--amarelo-pd);
}

#icone-pesquisar {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

#modal__filtragem>input {
  display: none;
}

/* botão sistema */
.btn-sistema {
  width: 2.18em;
  height: 2.18em;

  border-radius: 0.62em;
  background-color: var(--amarelo-pd);

  border: none;
  box-shadow: none;
  cursor: pointer;
}

#icone-sistema {
  width: 1.12em;
  height: 1.12em;
  margin-right: 1em;
}

.btn-sistema>h3 {
  display: none;
}

/* botão sistema: menu suspenso */

.dropdown {
  display: block;
}

.dropdown-menu {
  width: 10.65em;
  height: auto;
  background-color: transparent;
  border: none;
}

.dropdown-header {
  background-color: var(--amarelo-pd);
  border-radius: 0.93em 0.93em 0 0;
  text-align: center;
  color: var(--preto);
  font: var(--font-raleway);
  font-size: 1em;
}

/* estilo suspenso do botão sistema sm "cabeçalho" */
.dropdown-item {
  height: 2.5em;
  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent;
  color: var(--branco-forte);
}

.dropdown-menu li:not(:first-child) {
  width: 100%;
  background-color: var(--cor-bg-card);
  text-align: center;
}

/* borda de separação depois de 2 itens */
.dropdown-menu li:nth-child(n+3) {
  border-top: 1px solid var(--amarelo-pd);
}

/* Somente o ultimo item tem a borda redondada */
.dropdown-menu li:last-child {
  border-radius: 0 0 0.93em 0.93em;
}

.dropdown-menu li a {
  color: var(--branco-forte);
}

/* fim cabeçalho */
/* modal btn sistema */
#btn-sistemaModal {
  border: none;
}

.modal__sistemas {
  width: 12.5em;
  height: 2.5em;
  border: none;
  position: relative;
  top: 25%;
  transform: translate(-50%, -50%);

}

.cor-bg {
  background-color: var(--cor-bg-card);
}

.modal__sistemas-header {
  background-color: var(--amarelo-pd);
  border-bottom: none;
  color: var(--preto);
  text-align: center;
  height: 2.5em;
}

.modal__sistemas-header>h1 {
  width: 100%;
  text-align: center;
  color: var(--preto);
}

.btn-close {
  color: var(--preto);
}

.modal-body>ul>li {
  text-align: center;
  list-style: none;
}

/* fim modal botão sistema */
/* modal filtragem / pesquisar */

.modal-body {
  padding: 8px;
}

.modal-dialog {
  max-width: 545px;
  margin: 0 auto;
}

.modal-content {
  position: relative;
  background-color: var(--cor-bg-card);
  border-radius: 15px;
  color: var(--branco-forte);
}

.borda-amarelo {
  border: 2px solid var(--amarelo-pd);
}

.btn-close-modal-mobile {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}

.btn-close-modal-mobile img {
  width: 24px;
  height: 24px;
}

.modal-title {
  font-family: var(--font-vollkorn);
  font-weight: 700;
  font-size: 20px;
  color: var(--amarelo-pd);

  border-bottom: 1px solid var(--amarelo-pd);
  opacity: 1;
  margin-bottom: 6px;
}

.filter-section>* {
  margin-bottom: 0.375rem;
}

#added-filters-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-row-layout {
  width: 100%;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge-column {
  min-width: 5.9rem;
  flex-shrink: 0;
}

.level-column {
  width: clamp(11rem, 40vw, 15rem);
  position: relative;
  left: 50%;
  transform: translateX(-90%);
  flex-shrink: 0;
}

.action-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.badge-display {
  height: 18.3px;
  width: 100%;
  object-fit: contain;
  object-position: left center;
}

.level-display {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: var(--font-raleway);
  font-size: 9px;
}

.btn-remove-filter,
.btn-add-filter {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.filter-input {
  margin-top: 0.5rem;
}

.filter-input,
.dropdown-select {
  background-color: transparent;
  border: 0.8px solid var(--amarelo-pd);
  border-radius: 4px;
  height: 26px;
  color: var(--branco-forte);
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 9px;
}

.filter-input::placeholder,
.dropdown-select>span {
  color: var(--branco-forte);
  opacity: 0.8;
}

.filter-input:focus,
.dropdown-select:focus {
  background-color: transparent;
  color: var(--branco-forte);
  box-shadow: 0 0 0 2px var(--amarelo-pd);
  border-color: var(--amarelo-pd);
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-select {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.dropdown-select .level-item {
  font-size: 9px;
  padding: 0;
}

.dropdown-select .star,
.level-dropdown-menu .star {
  width: 16px;
  height: auto;
  margin: 0;
}

.dropdown-select.disabled {
  cursor: not-allowed;
}

.dropdown-select.disabled span {
  opacity: 0.6;
}


.dropdown-arrow {
  transition: transform 0.2s ease-in-out;
}

.dropdown-select.open .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-menu-custom {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--cor-bg-card);
  border: 2px solid var(--amarelo-pd);
  border-radius: 4px;
  margin-top: 5px;
  z-index: 1056;
  padding: 0 10px 4px 10px;
  max-height: 220px;
}

.dropdown-menu-custom.show {
  display: block;
}

.badge-dropdown-menu {
  overflow-y: auto;
  direction: rtl;
}

.badge-dropdown-menu .badge-item {
  direction: ltr;
}

.badge-dropdown-menu::-webkit-scrollbar {
  width: 8px;
  margin: 3px;
}

.badge-dropdown-menu::-webkit-scrollbar-track {
  background: var(--cor-bg-pagina);
  margin: 3px;
}

.badge-dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--amarelo-pd);
}

.level-dropdown-menu {
  overflow-y: hidden;
}

.badge-item,
.level-item {
  cursor: pointer;
}

.badge-item img,
.badge-item-img {
  height: 18.3px;
  max-width: 100%;
  border-radius: 4px;
}

.level-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 1px;
  font-family: var(--font-raleway);
  font-size: 9px;
}

.star {
  margin: 0 0px;
  width: 20px;
  height: auto;
}

.icon {
  width: 20px;
  margin: 0;
  padding: 0;
}

.action-buttons {
  display: flex;
  gap: clamp(1rem, 4vw, 2rem);
  justify-content: center;
  margin-top: 30px;
}

.btn-filter-action {
  width: 90px;
  height: 40px;
  background-color: var(--amarelo-pd);
  color: var(--preto);
  border: none;
  border-radius: 8px;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 0;
}

.btn-hover,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--amarelo-pd);
  color: var(--preto);
}

/* fim modal filtragem */

/* media desktop */
@media screen and (min-width:720px) {

  /* cabeçalho */
  header {
    width: 100%;
    min-width: 100dvw;
    height: 6.35rem;
    padding: 0 3.75em;
  }

  /* logo */
  #logo-desktop {
    display: block;
    width: 6.25em;
    height: 5.62em;
  }

  #logo-mobile {
    display: none;
  }

  /* barra de pesquisar / modal filtragem */
  #modal__filtragem {
    width: 45.139dvw;
    height: 2.5em;
    border-radius: 0.93em;
  }

  /* estilo do input modal filtragem / pesquisar */
  #modal__filtragem>input {
    display: block;
    max-width: 100%;
    font: var(--font-raleway);
    background-color: var(--amarelo-pd);
    cursor: pointer;
  }

  #modal__filtragem>input::placeholder {
    color: var(--preto);
    font: var(--font-raleway);
    font-size: 1em;
  }

  /* retirar a sombra quando clica no input */
  #modal__filtragem>input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  /* botão pesquisar */

  .dropdown {
    display: block;
  }

  .btn-sistema {
    min-width: 10.65em;
    height: 2.5em;
    padding: 0 2em;

    border-radius: 0.93em;
  }

  .mobile__btn-sistema:focus,
  .mobile__btn-sistema:active {
    border-radius: 0.93em 0.93em 0 0;
  }

  .btn-sistema>h3 {
    display: block;
    color: var(--preto);
    font: var(--font-raleway);
    font-size: 1em;
  }

  .dropdown-menu {
    border-bottom-left-radius: 0.93rem;
    border-bottom-right-radius: 0.93rem;
  }

  .dropdown-header {
    display: none;
  }

  /* fim cabeçalho */
  /* modal filtragem */
  .star,
  .dropdown-select .star,
  .level-dropdown-menu .star {
    height: 20px;
    width: 20px;
    margin: 0.25rem;
  }

  .icon {
    width: 26px;
  }

  .badge-column {
    min-width: 9.75rem;
  }

  .level-column {
    min-width: 18.9rem;
  }

  .badge-display {
    height: 24px;
  }

  .level-display {
    min-width: 16.5rem;
    font-size: 16px;
  }

  .btn-filter-action {
    width: 121px;
    height: 35px;
    font-size: 13px;
  }

  .modal-body {
    padding: 1rem;
    font-size: 16px;
  }

  .dropdown-menu-custom {
    padding: 8px;
  }

  .filter-input,
  .dropdown-select {
    font-size: 12px;
  }

  .custom-dropdown .badge-select {
    max-width: 8rem;
  }

  .badge-item img,
  .badge-item-img {
    height: 24px;
  }

  .badge-dropdown-menu .badge-item {
    margin-top: 10px;
  }

  .level-item {
    font-size: 16px;
  }

  /* fim modal filtragem */
}


/* Card de projeto da tela perfil */

figcaption {
  display: none;
}

#section-card-projeto-tela-perfil {
  padding-top: 100vh;
}

@media (min-width: 500px) {
  #section-card-projeto-tela-perfil {
    padding-top: 100vh;
  }
}

@media (min-width: 720px) {
  #section-card-projeto-tela-perfil {
    padding-top: 100vh;
    margin-left: 4.65vw;
  }
}

.container-meus-projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .container-meus-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 720px) {
  .container-meus-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.container-projetos-compartilhados {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .container-projetos-compartilhados {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 720px) {
  .container-projetos-compartilhados {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.title-meus-projetos {
  font-family: var(--font-vollkorn);
  width: 200px;
  height: 43px;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4BC1D;
  border-radius: 30px 0 30px 0;
  padding-left: 0;
}

@media (min-width: 500px) {
  .title-meus-projetos {
    font-family: var(--font-vollkorn);
    width: 200px;
    height: 43px;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 0;
  }
}

@media (min-width: 720px) {
  .title-meus-projetos {
    font-family: var(--font-vollkorn);
    width: 44.37vw;
    max-width: 639px;
    height: 74px;
    font-weight: bold;
    font-size: clamp(15px, 3.33vw, 48px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 1.5rem;
  }
}

.title-projetos-compartilhados {
  font-family: var(--font-vollkorn);
  width: 200px;
  height: 43px;
  font-weight: bold;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4BC1D;
  border-radius: 15px 0 15px 0;
}

@media (min-width: 500px) {
  .title-projetos-compartilhados {
    font-family: var(--font-vollkorn);
    width: 200px;
    height: 43px;
    font-weight: bold;
    font-size: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 15px 0 15px 0;
  }
}

@media (min-width: 720px) {
  .title-projetos-compartilhados {
    font-family: var(--font-vollkorn);
    width: 44.37vw;
    max-width: 639px;
    height: 74px;
    font-weight: bold;
    font-size: clamp(15px, 3.33vw, 48px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 1.5rem;
  }
}

.container-card-tela-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 14px 0 8px 0;
}

@media (min-width: 500px) {
  .container-card-tela-perfil {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 14px 0 8px 0;
  }
}

@media (min-width: 720px) {
  .container-card-tela-perfil {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: flex-start;
    place-items: initial;
    grid-template-columns: repeat(4, 21.73vw);
    gap: 0.9vw;
    padding: 1.95vh 0 6.64vh 0;
  }
}

.card-tela-perfil {
  width: 243px;
  height: 326px;
  margin-bottom: 1.17vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #161D26;
  border-radius: 23px 0 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 500px) {
  .card-tela-perfil {
    width: 243px;
    height: 326px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #161D26;
    border-radius: 23px 0 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 720px) {
  .card-tela-perfil {
    width: 100%;
    max-width: 313px;
    height: 421px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #161D26;
    border-radius: 23px 0 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

.conteudo-card-tela-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-bottom: 0;
}

@media (min-width: 500px) {
  .conteudo-card-tela-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-bottom: 0;
  }
}

@media (min-width: 720px) {
  .conteudo-card-tela-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4vw;
    padding-bottom: 1vh;
  }
}

.img-card-tela-perfil {
  width: 100%;
  height: 137px;
  border-radius: 20px 0 0 0;
  background-color: #9C9C9C;
  border-bottom: 1px solid #FFFFFF;

}

@media (min-width: 500px) {
  .img-card-tela-perfil {
    width: 100%;
    height: 137px;
    border-radius: 20px 0 0 0;
    background-color: #9C9C9C;
    border-bottom: 1px solid #FFFFFF;

  }
}

@media (min-width: 720px) {
  .img-card-tela-perfil {
    width: 100%;
    height: 177px;
    border-radius: 20px 0 0 0;
    background-color: #9C9C9C;
    border-bottom: 1px solid #FFFFFF;
  }
}

.figure-card-tela-perfil {
  width: 100%;
  height: 137px;
}

@media (min-width: 500px) {
  .figure-card-tela-perfil {
    width: 100%;
    height: 137px;
  }
}

@media (min-width: 720px) {
  .figure-card-tela-perfil {
    height: 17.28vh;
    max-height: 177px;
  }
}

.titulo-descricao-tela-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-card-tela-perfil {
  font-family: var(--font-vollkorn);
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 500px) {
  .title-card-tela-perfil {
    font-family: var(--font-vollkorn);
    font-weight: 500;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .title-card-tela-perfil {
    font-family: var(--font-vollkorn);
    font-weight: 500;
    font-size: clamp(18px, 1.875vw, 27px);
    color: #FFFFFF;
    text-transform: none;
    text-align: center;
  }
}

.descricao-card-tela-perfil {
  width: 100%;
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: .625rem;
  color: #FFFFFF;
  text-align: center;
}

@media (min-width: 500px) {
  .descricao-card-tela-perfil {
    width: 95%;
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: .625rem;
    color: #FFFFFF;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .descricao-card-tela-perfil {
    width: 95%;
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: clamp(10px, 0.97vw, 14px);
    color: #FFFFFF;
    text-align: center;
  }
}

.badges {
  width: 95%;
  height: 37px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 7px 10px;
}

@media (min-width: 500px) {
  .badges {
    width: 95%;
    height: 37px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 7px 10px;
  }
}

@media (min-width: 720px) {
  .badges {
    width: 19.30vw;
    max-width: 278px;
    height: 82px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.26vh 0.83vw;
  }

  .badges img {
    height: 1.78vw;
    max-height: 18.3px;
  }
}

.link-ver-mais {
  text-decoration: none;
}

.btn-ver-mais {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #F4BC1D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-raleway);
  font-weight: bold;
  font-size: .875rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  .btn-ver-mais {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F4BC1D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .5rem;
    cursor: pointer;
  }
}

@media (min-width: 720px) {
  .btn-ver-mais {
    width: 14.58vw;
    max-width: 210px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F4BC1D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: clamp(14px, 1.25vw, 18px);
    margin-bottom: .78vh;
    cursor: pointer;
    transition: .3s ease;
  }

  .btn-ver-mais:hover {
    background-color: #000000;
    color: #F4BC1D;
  }

}
