:root {
  --branco-forte: #FFFFFF;
  --preto: #000000;
  --cor-bg-card: #161D26;
  --cor-bg-pagina: #243650;
  --amarelo-pd: #F4BC1D;
  --font-vollkorn: 'Vollkorn', serif;
  --font-raleway: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-bg-pagina);
  width: 100%;
}

/* Card de projeto da tela perfil */

figcaption {
  display: none;
}

#section-card-projeto-tela-perfil {
  padding-top: 100vh;
}

@media (min-width: 500px) {
  #section-card-projeto-tela-perfil {
    padding-top: 100vh;
  }
}

@media (min-width: 720px) {
  #section-card-projeto-tela-perfil {
    padding-top: 100vh;
    margin-left: 4.65vw;
  }
}

.container-meus-projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .container-meus-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 720px) {
  .container-meus-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.container-projetos-compartilhados {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .container-projetos-compartilhados {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 720px) {
  .container-projetos-compartilhados {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.title-meus-projetos {
  font-family: var(--font-vollkorn);
  width: 200px;
  height: 43px;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4BC1D;
  border-radius: 30px 0 30px 0;
  padding-left: 0;
}

@media (min-width: 500px) {
  .title-meus-projetos {
    font-family: var(--font-vollkorn);
    width: 200px;
    height: 43px;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 0;
  }
}

@media (min-width: 720px) {
  .title-meus-projetos {
    font-family: var(--font-vollkorn);
    width: 44.37vw;
    max-width: 639px;
    height: 74px;
    font-weight: bold;
    font-size: clamp(15px, 3.33vw, 48px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 1.5rem;
  }
}

.title-projetos-compartilhados {
  font-family: var(--font-vollkorn);
  width: 200px;
  height: 43px;
  font-weight: bold;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4BC1D;
  border-radius: 15px 0 15px 0;
}

@media (min-width: 500px) {
  .title-projetos-compartilhados {
    font-family: var(--font-vollkorn);
    width: 200px;
    height: 43px;
    font-weight: bold;
    font-size: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 15px 0 15px 0;
  }
}

@media (min-width: 720px) {
  .title-projetos-compartilhados {
    font-family: var(--font-vollkorn);
    width: 44.37vw;
    max-width: 639px;
    height: 74px;
    font-weight: bold;
    font-size: clamp(15px, 3.33vw, 48px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4BC1D;
    border-radius: 30px 0 30px 0;
    padding-left: 1.5rem;
  }
}

.container-card-tela-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 14px 0 8px 0;
}

@media (min-width: 500px) {
  .container-card-tela-perfil {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 14px 0 8px 0;
  }
}

@media (min-width: 720px) {
  .container-card-tela-perfil {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: flex-start;
    place-items: initial;
    grid-template-columns: repeat(4, 21.73vw);
    gap: 0.9vw;
    padding: 1.95vh 0 6.64vh 0;
  }
}

.card-tela-perfil {
  width: 243px;
  height: 326px;
  margin-bottom: 1.17vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #161D26;
  border-radius: 23px 0 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 500px) {
  .card-tela-perfil {
    width: 243px;
    height: 326px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #161D26;
    border-radius: 23px 0 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 720px) {
  .card-tela-perfil {
    width: 100%;
    max-width: 313px;
    height: 421px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #161D26;
    border-radius: 23px 0 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

.conteudo-card-tela-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-bottom: 0;
}

@media (min-width: 500px) {
  .conteudo-card-tela-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-bottom: 0;
  }
}

@media (min-width: 720px) {
  .conteudo-card-tela-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4vw;
    padding-bottom: 1vh;
  }
}

.img-card-tela-perfil {
  width: 100%;
  height: 137px;
  border-radius: 20px 0 0 0;
  background-color: #9C9C9C;
  border-bottom: 1px solid #FFFFFF;

}

@media (min-width: 500px) {
  .img-card-tela-perfil {
    width: 100%;
    height: 137px;
    border-radius: 20px 0 0 0;
    background-color: #9C9C9C;
    border-bottom: 1px solid #FFFFFF;

  }
}

@media (min-width: 720px) {
  .img-card-tela-perfil {
    width: 100%;
    height: 177px;
    border-radius: 20px 0 0 0;
    background-color: #9C9C9C;
    border-bottom: 1px solid #FFFFFF;
  }
}

.figure-card-tela-perfil {
  width: 100%;
  height: 137px;
}

@media (min-width: 500px) {
  .figure-card-tela-perfil {
    width: 100%;
    height: 137px;
  }
}

@media (min-width: 720px) {
  .figure-card-tela-perfil {
    height: 17.28vh;
    max-height: 177px;
  }
}

.titulo-descricao-tela-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-card-tela-perfil {
  font-family: var(--font-vollkorn);
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 500px) {
  .title-card-tela-perfil {
    font-family: var(--font-vollkorn);
    font-weight: 500;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .title-card-tela-perfil {
    font-family: var(--font-vollkorn);
    font-weight: 500;
    font-size: clamp(18px, 1.875vw, 27px);
    color: #FFFFFF;
    text-transform: none;
    text-align: center;
  }
}

.descricao-card-tela-perfil {
  width: 100%;
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: .625rem;
  color: #FFFFFF;
  text-align: center;
}

@media (min-width: 500px) {
  .descricao-card-tela-perfil {
    width: 95%;
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: .625rem;
    color: #FFFFFF;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .descricao-card-tela-perfil {
    width: 95%;
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: clamp(10px, 0.97vw, 14px);
    color: #FFFFFF;
    text-align: center;
  }
}

.badges {
  width: 95%;
  height: 37px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 7px 10px;
}

@media (min-width: 500px) {
  .badges {
    width: 95%;
    height: 37px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 7px 10px;
  }
}

@media (min-width: 720px) {
  .badges {
    width: 19.30vw;
    max-width: 278px;
    height: 82px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.26vh 0.83vw;
  }

  .badges img {
    height: 1.78vw;
    max-height: 18.3px;
  }
}

.link-ver-mais {
  text-decoration: none;
}

.btn-ver-mais {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #F4BC1D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-raleway);
  font-weight: bold;
  font-size: .875rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  .btn-ver-mais {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F4BC1D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .5rem;
    cursor: pointer;
  }
}

@media (min-width: 720px) {
  .btn-ver-mais {
    width: 14.58vw;
    max-width: 210px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #F4BC1D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: clamp(14px, 1.25vw, 18px);
    margin-bottom: .78vh;
    cursor: pointer;
    transition: .3s ease;
  }

  .btn-ver-mais:hover {
    background-color: #000000;
    color: #F4BC1D;
  }
}